html {
	height: 100%;
}
body {
	background-color:rgb(43, 43, 44);
	color: white;
}
#logo {

	position: absolute;
	bottom: top;
	left: 230px;
	width: 100%;
	height: 100%;
    background-repeat: no-repeat;
	background-image: url("images/logo.png");
	background-position: top left;
	}

a {
	color: white;
}
h1 {
	text-align:center;
}
h3 {
	text-align: center;
}
h4 {
	text-align: left;
	color: rgb(202, 192, 192);
}
h5 {
	color: greenyellow;
}
ul {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(202, 192, 192);
}
#logo-no-game {
	position: absolute;
	top: 2px;
	right:215px;
	width: 64px;
	height: 56px;
    background-repeat: no-repeat;
	background-image: url("images/logo.png");
	background-position: top left;
}

/***[Menu]***************/
.monBoutton {
	background-color: rgb(88, 88, 88);
	Color:white;
	position:absolute;
	font-weight: bold;
	padding: 10px 40px;
	border-radius: 18px;
	cursor: pointer; 
	box-shadow:0 8px 16px 0 rgba(32, 32, 32, 0.959);
	text-decoration: none;
}
.monBoutton2 {
	background-color:rgba(88, 88, 88, 0.918);
	Color:rgb(231, 255, 249);
	position: absolute;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 10px;
	cursor: pointer; 
	box-shadow:0 10px 10px 0 #494949be;
	text-decoration:none;
}

/***[Access]************/
#keypad {
	width: 366px;
	text-align: center;
	margin: auto;
	font-family: sans-serif;
}
#keypad.hidden {
	display: none;
}
#keypad div {
	float: left;
	width: 100px;
	border: 1px solid rgb(81, 85, 85);
	margin: 10px;
	padding: 30px 0;
	background-color:rgb(75, 75, 75);
	cursor:pointer;
	user-select: none;
	border-radius: 20px;
	box-shadow:0 6px 16px 0 #63636362;
}
#keypad div.action {
	background-color:rgba(59, 59, 59, 0.973);
}
#keypad div:hover {
	border-color: rgb(238, 238, 238);
}

#code {
	margin: 40px auto;
	border: 1px solid gray;
	padding: 15px 30px;
	width: 150px;
	height: 26px;
	font-family: sans-serif;
	font-size: 150%;
	letter-spacing: 2rem;
	user-select: none;
	border-radius: 10px;
}
#granted, #incorrect, #alert {
	display: none;
	clear: left;
	font-family: sans-serif;
	font-size: 150%;
	font-weight: bold;
	font-variant: small-caps;
	padding: 10px 30px;
	margin: 60px auto;
	width: 300px;
	background: rgb(19, 19, 19);;
	text-align: center;
	border-radius: 40px;
}
#granted {
	color: green;
	border: 2px solid green;
}
#incorrect {
	color: yellow;
	border: 2px solid yellow;
}
#alert {
	color: red;
	border: 2px solid red;
}
#granted.active, #incorrect.active, #alert.active {
	display: block;
}
