body {
    background: #000000;
    color: #ffffff;
    font-family: 'Merriweather', sans-serif;
    margin: 0;
}

h1 {
    font-weight: bold;
    margin: 0;
    padding: 0.8em 0 0.8em 3.2em;
    background: 0.5em center url('sammy.png') no-repeat;
}

p {
    font-size: 16px;
    color: #ffffff;
}

.jumbotron {
    background: #0048CD;
    color: white;
}

.col-lg-6 {
    float: left;
    width: 50%;
}

.col-lg-6 p,
.col-lg-6 ul,
.col-lg-6 form {
    margin: 1em;
}

li a {
    cursor: pointer;
    font-size: 75%;
}